# Copyright (C) 2022 Varghese Mathew (Matt)
# Distributed under GNU GENERAL PUBLIC LICENSE Version 3
# See ~/LICENSE for details
# GitHub: https://github.com/mattvarghese/typescript-tutorial

build
node_modules
clean-all.js
