# Copyright (C) 2022 Matt Varghese
# Distributed under GNU GENERAL PUBLIC LICENSE Version 3
# See ~/LICENSE for details
# GitHub: https://github.com/mattvarghese/typescript-tutorial

node_modules
build
